// ===============
// colors palette
// ===============
:root {
  // Site colors (Кольори сайту):
  // =================================================================

  // Background colors (Фонові кольори):
  // =================================================================
  --bg-primary: #f9f9f9; // BG primary background color - (Основний фоновий колір сайту)
  --bg-secondary: #f5f5f5; // BG secondary background color - (Додатковий фоновий колір сайту)
  --bg-success: #f4fff2; // BG success - для різних вдалих та акценту позитивності.
  --bg-btn: #363cca; // BG color - фон кнопки
  --bg-btn-hover: #0008d4; // BG color - hover кнопки
  --bg-btn-stroke: #dfdfe5; // BG color - stroke кнопки
  --bg-black: #161616; //  BG color - dark для тегів
  --bg-danger: #bb1d1d; //  BG color - danger для тегів знижок
  --bg-stars: #ffa900; //  BG color - for stars and range

  --bg-accent: #4cc9f0; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
  --bg-inverse: #2d00f7; // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.

  // Text colors (Текстові кольори):
  // =================================================================
  --text-primary: #161616; // Text primary text color - (Основний текстовий колір сайту)
  --text-secondary: #5c5c5c; // Text secondary text color - (Додатковий текстовий колір сайту)
  --text-white: #fff; // Text title - для головного тексту MEN & WOMEN, disabled кнопок.
  --text-hover: #0008d4; // Text hover - для різних ховерів і не тільки.
  --text-success: #24bf33; // Text success - для різних вдалих та акценту позитивності.
  --text-danger: #bb1d1d; // Text danger - для інвалідних ситуацій.

  // --text-inverse: #e8eddf; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
  // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
  // =================================================================
}
