//====================================================================================================
.banner {
  @include adaptiveValue("height", 40, 30);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  background-color: var(--bg-secondary);
  @include adaptiveValue("font-size", 14, 12);
  white-space: nowrap;

  overflow-x: scroll;
  /* Щоб приховати смугу прокрутки */
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: none; /* IE 11 */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  b {
    margin-right: toRem(8);
    color: var(--text-hover);
    font-weight: 600;
  }

  button {
    margin-left: toRem(8);

    position: absolute;
    right: toRem(12);
    @include adaptiveValue("font-size", 34, 14);
    font-weight: 400;
    color: var(--text-secondary);
  }
}
//====================================================================================================
.main {
  max-width: 1600px;
  margin: 0 auto;

  .menu-open & {
    background-color: #000 !important;
  }

  @media (min-width: $mobile) {
    display: grid;
    grid-template-columns: repeat(2, minmax(360px, 1fr));
  }

  &__image-ibg {
    padding-bottom: 87.5%;
  }

  &__block {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    h2 {
      margin-bottom: toRem(20);
      color: #fff;
      @include adaptiveValue("font-size", 68, 40);
      text-transform: uppercase;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: toRem(5.44);
    }

    a {
      padding: toRem(8) toRem(32);

      display: inline-block;

      background-color: #fff;

      white-space: nowrap;
      font-size: toRem(18);
      font-weight: 500;
      line-height: 160%;
      text-transform: uppercase;

      @media (any-hover: hover) {
        &:hover {
          background-color: var(--bg-btn);
          color: #fff;
        }
      }

      @media (min-width: $mobile) {
        padding: toRem(12) toRem(40);

        font-size: toRem(20);
      }
      .loaded & {
        opacity: 1;
      }
    }

    a {
      position: relative;
      top: -50px;
      opacity: 0;
      transition:
        top 0.6s,
        opacity 0.6s,
        background-color 0.3s,
        color 0.3s;

      .loaded & {
        top: 0px;
        opacity: 1;
      }
    }
    h2 {
      position: relative;
      top: -50px;
      opacity: 0;
      transition:
        opacity 0.6s,
        top 0.6s,
        background-color 0.3s,
        color 0.3s;
      transition-delay: 0.3s;

      .loaded & {
        top: 0px;
        opacity: 1;
      }
    }
  }
}
//====================================================================================================
